{% extends './base.html' %}
    {% block content %}

    {% if user.is_authenticated %}
            <!--
                ====================MAIN_CONTENT=====================
            -->
            <div id="main-content" >
                <header>
                    <nav class="main-content__header-nav">
                        <i class="fas fa-bars bars-left"></i>
                        <i class="fas fa-arrow-left"></i>
                        <i class="fas fa-arrow-right"></i>
                    </nav>
                    <div class="main-content__search-form">
                        <i class="fas fa-search search-btn"></i>
                        <input type="text" class="search-input" placeholder="Search for artist, songs.....">
                    </div>
                </header>
                <div class="my-playlist" style="height: 70rem;max-height: 70rem;">
                    <div class="playlist-head">
                        <h4 style=" color: #8CC0DE;">My Favorite Playlist<i class="fas fa-heart"></i></h4>   
                        <a class="btn-hover">Show all</a> 
                    </div>
                    <div class="playlist-list">
                        <div class="playlist playlist-list__title" style="background-color: rgb(230, 249, 255); color: #fb9f9f; font-size:15px; padding-bottom:10px; margin-bottom:10px">
                            <p class="playlist__title">TITLE</p>
                            <p class="playlist__artist">ARTIST</p>
                            <p class="playlist__time">TIME</p>
                        </div>
                        {% for song in fsong %}
                            <div class="playlistFS playlist--hover" style="">
                                <p class="playlist__title">{{song.song.name}}</p>
                                <p class="playlist__artist">{{song.song.artist.name}}</p>
                                <p class="playlist__time">{{song.song.time}}</p>   
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>>
    {% else %}
    <h3>Welcome!</h3>
    <a href="/signup" class="btn btn-success" role="button">Sign up</a>
    <a href="/signin" class="btn btn-primary" role="button">Sign in</a>
    {% endif %}
    {% endblock %}
    