{% extends './base.html' %}
    {% block content %}
    {% if user.is_authenticated %}
                
                <!--
                    ====================MAIN_CONTENT=====================
                -->
                <div id="main-content" >
                    <header>
                        <nav class="main-content__header-nav">
                            <i class="fas fa-bars bars-left"></i>
                            <i class="fas fa-arrow-left"></i>
                            <i class="fas fa-arrow-right"></i>
                        </nav>
                        <div class="main-content__search-form">
                            <i class="fas fa-search search-btn"></i>
                            <input type="text" class="search-input" placeholder="Search for artist, songs.....">
                        </div>
                        <i class="fas fa-bars bars-right"></i>
                    </header>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Nổi bật</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Top 100 Bài Hát Nhạc Trẻ</h5>
                                            <p class="card-text">Hồng Thanh, DJ Mie, Đinh Tùng Huy...</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Top 100 Nhạc Hàn Quốc</h5>
                                            <p class="card-text">Jo Jung Suk, Gaho, DAVICHI...</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Top 100 Nhạc Âu Mỹ</h5>
                                            <p class="card-text">Adele, The Kid LAROI, Justin Bieber...</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/8/b/f/a/8bfaeb3f9508550126393e28944318c1.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Top 100 Nhạc Hoa Ngữ</h5>
                                            <p class="card-text">A Nhũng, Mộng Nhiên, Danh Quyết...</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/6/f/8/66f8ddb7b4b7fe2b1b4076ea2cd05c93.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Top 100 Nhạc Country </h5>
                                            <p class="card-text">Taylor Swift, Mitchell Tenpeny...</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Jo Jung Suk, Gaho, DAVICHI...</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Việt Nam</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/b/0/0/3/b003deb65962e3b9b5f61f21f2f375ba.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Thương Em</h5>
                                            <p class="card-text">Châu Khải Phong</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/5/1/b/e/51be5970b57048f63d0159fc018b1dc3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Ai Chung Tình Được Mãi</h5>
                                            <p class="card-text">Đinh Tùng Huy</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/5/b/8/b/5b8b7cd3d1434afa3b2b9854efdc8756.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Đám Cưới Nha</h5>
                                            <p class="card-text">Hồng Thanh, DJ Mie</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/c/6/d/e/c6def069a1a885c41fe479358fa7c506.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Chạy Về Khóc Với Anh</h5>
                                            <p class="card-text">ERIK</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/1/8/0/7/1807c6b5fcc7058a14e1a288801221c7.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Sau Lưng Anh Có Ai Kìa</h5>
                                            <p class="card-text">Thiều Bảo Trâm</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Hàn Quốc</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/0/6/6/2/06624da93f95555c8494f287fc3e0e6b.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Aloha</h5>
                                            <p class="card-text">Jo Jung Suk</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/4/a/d/1/4ad1d22f1f57d69bc32b2fde6def336b.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">INVU</h5>
                                            <p class="card-text">TAEYEON</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/b/a/e/f/baefebf5b4e9dbc7e8e346e32efd17ba.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Sunsetr</h5>
                                            <p class="card-text">DAVICHI</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/f/c/5/5/fc55bdc18f18f421903d1fd298e559cc.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">But You</h5>
                                            <p class="card-text">iKON</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/f/3/1/5/f31552b8d835211defe8bf8129a8c216.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Moon</h5>
                                            <p class="card-text">BTS</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Âu Mỹ</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/2/b/4/7/2b470be2c84488f2d9eac79db2d03ecc.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Stay</h5>
                                            <p class="card-text">Justin Bieber</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/9/d/a/e/9dae88b8d2ea12f14d2059d98a410e86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Angel Baby</h5>
                                            <p class="card-text">Taylor Swift</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/8/3/9/5/8395c8b202b930eec67dfc88e3a2e6f8.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">At My Worst</h5>
                                            <p class="card-text">Simpton X Collective.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_webp/cover/f/8/2/6/f82611e214e5e888cfe16f5bbf9e66c2.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">The Drum</h5>
                                            <p class="card-text">Alan Walker</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w94_r1x1_png/cover/4/8/9/6/48965ad83674b44b6da0342bd7cec502.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Rolling In The Deep</h5>
                                            <p class="card-text">Adele</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>
{% else %}
<h3>Welcome!</h3>
<a href="/signup" class="btn btn-success" role="button">Sign up</a>
<a href="/signin" class="btn btn-primary" role="button">Sign in</a>
{% endif %}
{% endblock %}
    