{% extends './base.html' %}
    {% block content %}
    {% if user.is_authenticated %}
                
                <!--
                    ====================MAIN_CONTENT=====================
                -->
                <div id="main-content" >
                    <header>
                        <nav class="main-content__header-nav">
                            <i class="fas fa-bars bars-left"></i>
                            <i class="fas fa-arrow-left"></i>
                            <i class="fas fa-arrow-right"></i>
                        </nav>
                        <div class="main-content__search-form">
                            <i class="fas fa-search search-btn"></i>
                            <input type="text" class="search-input" placeholder="Search for artist, songs.....">
                        </div>
                        <i class="fas fa-bars bars-right"></i>
                    </header>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Nổi bật</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Việt Nam</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/c/f/7/6/cf76de6283cfa98ec85a301addb676e5.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Hàn Quốc</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/1/d/1/9/1d19047de6252c181c11970ca8a91a86.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <div class="main-content_container">
                        <div class="main-content_container-title">
                            <h3>Top 100 nhạc Âu Mỹ</h3>
                        </div>
                        <div class="main-content_container-content">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>                                
                                        </div>                      
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="card swiper-slide" style="min-width: 18rem; background-color: transparent; border: none">
                                        <div class="swiper-content">
                                            <img src="https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/6/0/6/4/606430a29783ea7f864de569bb8a45d0.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>
{% else %}
<h3>Welcome!</h3>
<a href="/signup" class="btn btn-success" role="button">Sign up</a>
<a href="/signin" class="btn btn-primary" role="button">Sign in</a>
{% endif %}
{% endblock %}
    